.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000915 100%), url("../images/bgcskypro2077.png"), lightgray 50%;
  height: 1024px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__content {
  max-width: 700px;
  padding-top: 217px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header__content-heading {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 0 32px 0;
}
.header__content-text {
  max-width: 481px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-bottom: 32px;
}
.header__content-text_bold {
  font-weight: 700;
  line-height: 32px;
}
.header__content-button {
  padding: 13px 74px 13px 74px;
  border: none;
  text-decoration: none;
  border-radius: 30px;
  background-color: #9C0332;
  font-family: Montserrat;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background-color 0.2s;
  margin-top: 12px;
}
.header__content-button:hover {
  background-color: #EB443F;
}

.cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
  background: #000915;
  padding-top: 128px;
}
.cards .card {
  grid-column: span 4;
  position: relative;
}
.cards .card__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  transition: outline 0.2s;
}
.cards .card__img:hover {
  border-radius: 16px;
  outline: 3px solid #44D2FF;
}
.cards .card__name {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  position: absolute;
  bottom: 32px;
  left: 32px;
  pointer-events: none;
}

.game {
  background-color: #000915;
  display: flex;
}
.game__content {
  display: flex;
  justify-content: space-between;
  gap: 135px;
  align-items: center;
  padding-top: 361px;
}
.game__content-info {
  max-width: 584px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: start;
}
.game__content-info-heading {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game__content-info-text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.game__content-info-button {
  width: 234.063px;
  padding: 13px 74px 13px 74px;
  border: none;
  text-decoration: none;
  border-radius: 30px;
  background-color: #9C0332;
  font-family: Montserrat;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  transition: background-color 0.2s;
}
.game__content-info-button:hover {
  background-color: #EB443F;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@media (max-width: 375px) {
  .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .header {
    height: 735px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000915 100%), url(/images/mobileheader.png), lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__content {
    align-items: center;
    padding-top: 238px;
  }
  .header__content-heading {
    text-align: center;
    font-size: 32px;
  }
  .header__content-text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 32px;
  }
  .header__content-text_bold {
    font-size: 14px;
    line-height: 22px;
  }
  .header__content-button {
    margin: 0;
  }
  .cards {
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 32px;
  }
  .cards .card {
    grid-column: span 12;
    align-items: center;
  }
  .cards .card__name {
    left: 16px;
  }
  .cards .card__img {
    height: 300px;
  }
  .game__content {
    flex-wrap: wrap;
    gap: 64px;
    padding-top: 179px;
  }
  .game__content-info {
    text-align: center;
    align-items: center;
  }
  .game__content-info-heading {
    color: #FFF;
    font-size: 32px;
  }
  .game__content-info-text {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */